HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.class
bin/main/api_errors.properties
bin/main/application.properties
.DS_Store
terraform/.terraform/plugins/darwin_amd64/lock.json
terraform/.terraform/plugins/darwin_amd64/terraform-provider-aws_v1.60.0_x4
*.tfstate
terraform/key/beerstore_key.pub
terraform/key/beerstore_key
terraform/.terraform/modules/*
terraform/.terraform/plugins/*
